extends layout

mixin userRow(user)
  tr
    th(scope="row")= user.id
    td= user.username
    td= user.discordId
    td
      label.sr-only(for=`edit-user-${user.id}`)= `Edit user ${user.id}`
      label.sr-only(for=`delete-user-${user.id}`)= `Delete user ${user.id}`
      // Action buttons
      .btn-group(role="group" aria-label="Actions")
        button.btn.btn-success(
          role="button" 
          data-toggle="modal" 
          data-target="#editUserModal"
          data-placement="top"
          data-tooltip="true"
          data-userid= user.id
          data-username= user.username
          data-discordid= user.discordId
          title="Edit user" 
          id=`edit-user-${user.id}`
        )
          span.oi.oi-pencil(aria-hidden="true")
        a.btn.btn-danger(
          role="button" 
          data-toggle="modal"
          data-target="#deleteUserModal"
          data-placement="top" 
          data-tooltip="true"
          data-userid= user.id
          data-username= user.username
          data-discordid= user.discordId
          title="Delete user" 
          id=`delete-user-${user.id}`
          href=`/users/delete/${user.id}`
        )
          span.oi.oi-trash(aria-hiden="true")

mixin paginationControls
  // The total number of pages for the pagination control
  - const numPages = Math.ceil(numUsers/limit);
  // The current page (in the range 1 ... numPages)
  - const currentPage = Math.floor(offset/limit) + 1;
  // How many pages to show in the pagination controls.
  - const maxPages = 3;
  // The first page to show in the pagination controls.
  - let firstPage = Math.max(Math.floor(currentPage - (maxPages / 2)), 0);
  // Last page to show in the pagination controls.
  - const lastPage = Math.min(firstPage + maxPages, numPages);
  // Recompute first page to show at least maxPages
  - firstPage = Math.max(lastPage - maxPages, 0);

  nav(aria-label="User pagination controls")
    ul.pagination
      // The "First" page button.
      - const disableFirst = offset === 0;
      li.page-item(class= disableFirst && "disabled")
        a.page-link(
          aria-disabled= disableFirst && "true"
          tabIndex= disableFirst && "-1"
          href=`/users?q=${search}&offset=0&limit=${limit}`
        ) First
      // The "Previous" page button
      - const disablePrev = offset === 0;
      li.page-item(class= disablePrev && "disabled")
        a.page-link(
          aria-disabled= disablePrev && "true"
          tabindex= disablePrev && "-1"
          href=`/users?q=${search}&offset=${Math.max(offset-limit, 0)}&limit=${limit}` 
        ) Previous
      // Show the page selectors.
      - let page = firstPage + 1;
      - for (page = firstPage + 1; page <= lastPage; ++page)
        - const current = page === currentPage;
        li.page-item(class=(current && "active") aria-current=(current && "page"))
          a.page-link(href=`/users?q=${search}&offset=${(page-1)*limit}&limit=${limit}`)= page
            if current
              span.sr-only (current)
      // The "Next" page button.
      - const disableNext = offset >= (numUsers - limit);
      li.page-item(class= disableNext && "disabled")
        a.page-link(
          aria-disabled= disableNext && "true"
          tabindex= disableNext && "-1" 
          href=`/users?q=${search}&offset=${offset+limit}&limit=${limit}`
        ) Next
      // The "Last" page button.
      - const disableLast = offset >= (numUsers - limit);
      li.page-item(class= disableLast && "disabled")
        a.page-link(
          aria-disabled= disableLast && "true"
          tabindex= disableLast && "-1" 
          href=`/users?q=${search}&offset=${(numPages-1)*limit}&limit=${limit}`
        ) Last

block append head
  link(rel="stylesheet" href="/stylesheets/alerts.css")

block append scripts
  script.
    // Enable tooltips on elements with a data-tooltip="true" attribute.
    $(function () {
      $("[data-tooltip='true']").tooltip({
        trigger: "hover"  // This breaks tootips on mobile but it's better than having the tootip appear over the modal.
      });
      // Hide the tooltip if the button is clicked.
      $("[data-tooltip='true']").on("click", function() {
        $(this).tooltip("hide");
      });

      // Populate the edit user modal with data on show.
      $("#editUserModal").on("show.bs.modal", function(event) {
        var button = $(event.relatedTarget); // Button that triggered the event.
        var userId = button.data("userid");
        var username = button.data("username");
        var discordId = button.data("discordid");
        var modal = $(this);
        var form = modal.find("form");
        form.attr("action", `/users/edit/${userId}`);
        // Without this, the form never gets submitted when used in a 
        // bootstrap modal. I think it's because of the data-toggle="modal"
        // on the submit button overrides the form submit event.
        form.find("[type='submit']").on("click", function() {
          form.submit();
        });
        modal.find(".modal-title").text(`Edit ${username}`);
        modal.find("#userId").val(userId);
        modal.find("#username").val(username);
        modal.find("#discordId").val(discordId);
      });

      // Populate the delete user modal with data on show.
      $("#deleteUserModal").on("show.bs.modal", function(event) {
        var button = $(event.relatedTarget); // Button that triggered the event.
        var userId = button.data("userid");
        var username = button.data("username");
        var discordId = button.data("discordid");
        var modal = $(this);
        var form = modal.find("form");
        form.attr("action", `/users/delete/${userId}`);
        // Without this, the form never gets submitted when used in a 
        // bootstrap modal. I think it's because of the data-toggle="modal"
        // on the submit button overrides the form submit event.
        form.find("[type='submit']").on("click", function() {
          form.submit();
        });
        modal.find(".modal-title").text(`Delete ${username}`);
        modal.find("#userId").val(userId);
        modal.find("#username").val(username);
        modal.find("#discordId").val(discordId);
      });

      // Alerts "slide up" when closed.
      $(".alert").on("close.bs.alert", function(event) {
        event.preventDefault();
        event.stopPropagation();

        var alert = $(this).closest(".alert");
        alert.animate({
          top: -alert.outerHeight(),
          opacity: 0,
        }, "slow", function() {
          $(this).remove();
        });
      });

      // Automatically close the alert after a few seconds.
      setTimeout(function() {
        $(".alert").alert("close");
      }, 5000);
    });

    // Clear the search box.
    function clearSearch()
    {
      $("#search").val("");
    }

block content
  main.flex-shrink-0(role="main")
    .container(style="padding-top:60px")
      h1.mt-5 Manage Users
      p.lead Here you can manage the users on your Discord server.

      .row
        .col.mb-3
          form(action="/users" method="get")
            label.sr-only(for="search") search
            .input-group
              input.form-control#search(type="text" name="q" placeholder="Search" aria-label="search" value=search)
              .input-group-append
                button.btn.btn-secondary(type="button" onclick="clearSearch()") Clear
                button.btn.btn-primary(type="submit") Submit
            input#limit(type="hidden" name="limit" value=limit)
            input#offset(type="hidden" name="offset" value=offset)
        .col.mb-3
          .input-group
            .input-group-prepend
              label.input-group-text(for="dropdownMenuLink") Show
            .input-group-append
              button.btn.btn-primary.dropdown-toggle#dropdownMenuLink(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href=`/users?q=${search}&offset=${offset}&limit=10`)= limit
              .dropdown-menu(aria-labelledby="dropdownMenuLink")
                a.dropdown-item(href=`/users?q=${search}&offset=${offset}&limit=10`) 10
                a.dropdown-item(href=`/users?q=${search}&offset=${offset}&limit=20`) 20
                a.dropdown-item(href=`/users?q=${search}&offset=${offset}&limit=50`) 50
                a.dropdown-item(href=`/users?q=${search}&offset=${offset}&limit=100`) 100
      .row
        .col.mb-3
          +paginationControls()

      table.table
        thead
          tr
            th(scope="col") id
            th(scope="col") Username
            th(scope="col") Discord ID
            th(scope="col") Actions
        tbody
          each user in users
            +userRow(user)

      +paginationControls()

  // User Edit Modal dialog.
  .modal.fade#editUserModal(tabindex="-1" role="dialog" aria-labelledby="editUserModalTitle" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content
        .modal-header
          h5.modal-title#editUserModalTitle Edit User
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        form(method="post" action="/users/edit/:id")
          .modal-body
            fieldset(disabled)
              .form-group.row
                label.col-sm-3.col-form-label(for="userId") User ID
                .col-sm-9
                  input.form-control#userId(type="text" value="ID" name="userId" readonly)
            .form-group.row
              label.col-sm-3.col-form-label(for="username" ) Username
              .col-sm-9
                input.form-control#username(type="text" value="username" name="username")
            fieldset(disabled)
              .form-group.row
                label.col-sm-3.col-form-label(for="discordId") Discord ID
                .col-sm-9
                  input.form-control#discordId(type="text" value="discordId" name="discordId" readonly)
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
            button.btn.btn-primary(type="submit" data-dismiss="modal") Save

  // Delete User Modal dialog.
  .modal.fade#deleteUserModal(tabindex="-1" role="dialog" aria-labelledby="deleteUserModalTitle" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content
        .modal-header
          h5.modal-title#deleteUserModalTitle Delete User
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        form(method="post" action="/users/delete/:id")
          .modal-body
            | Are you sure you want to delete this user?
            fieldset(disabled)
              .form-group.row
                label.col-sm-3.col-form-label(for="userId") User ID
                .col-sm-9
                  input.form-control-plaintext#userId(value="ID" name="userId" readonly)
              .form-group.row
                label.col-sm-3.col-form-label(for="username" ) Username
                .col-sm-9
                  input.form-control-plaintext#username(value="username" name="username")
              .form-group.row
                label.col-sm-3.col-form-label(for="discordId") Discord ID
                .col-sm-9
                  input.form-control-plaintext#discordId(type="text" value="discordId" name="discordId" readonly)
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
            button.btn.btn-danger(type="submit" data-dismiss="modal") Delete

  // User updated alert
  if ( userUpdatedMessage )
    .alert.alert-success.alert-top.alert-dismissible.fade.show(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
      h4.alert-heading User edit succeeded.
      p= userUpdatedMessage

  // User deleted alert
  if ( userDeletedMessage )
    .alert.alert-danger.alert-top.alert-dismissible.fade.show(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
      h4.alert-heading User deleted.
      p= userDeletedMessage
