extends layout

mixin userRow(user)
  tr
    th(scope="row")= user.id
    td= user.username
    td= user.discordId
    td
      label.sr-only(for=`edit-user-${user.id}`)= `Edit user ${user.id}`
      label.sr-only(for=`delete-user-${user.id}`)= `Delete user ${user.id}`
      // Action buttons
      .btn-group(role="group" aria-label="Actions")
        a.btn.btn-success(
          role="button" 
          data-toggle="tooltip" 
          data-placement="top" 
          title="Edit user" 
          id=`edit-user-${user.id}`
          href=`/users/edit/${user.id}`
        )
          span.oi.oi-pencil(aria-hidden="true")
        a.btn.btn-danger(
          role="button" 
          data-toggle="tooltip" 
          data-placement="top" 
          title="Delete user" 
          id=`delete-user-${user.id}`
          href=`/users/delete/${user.id}`
        )
          span.oi.oi-trash(aria-hiden="true")


mixin paginationControls
  // The total number of pages for the pagination control
  - const numPages = Math.ceil(numUsers/limit);
  // The current page (in the range 1 ... numPages)
  - const currentPage = Math.floor(offset/limit) + 1;
  // How many pages to show in the pagination controls.
  - const maxPages = 5;
  // The first page to show in the pagination controls.
  - let firstPage = Math.max(Math.floor(currentPage - (maxPages / 2)), 0);
  // Last page to show in the pagination controls.
  - const lastPage = Math.min(firstPage + maxPages, numPages);
  // Recompute first page to show at least maxPages
  - firstPage = Math.max(lastPage - maxPages, 0);

  nav(aria-label="User pagination controls")
    ul.pagination
      // The "First" page button.
      - const disableFirst = offset === 0;
      li.page-item(class= disableFirst && "disabled")
        a.page-link(
          aria-disabled= disableFirst && "true"
          tabIndex= disableFirst && "-1"
          href=`/users?q=${search}&offset=0&limit=${limit}`
        ) First
      // The "Previous" page button
      - const disablePrev = offset === 0;
      li.page-item(class= disablePrev && "disabled")
        a.page-link(
          aria-disabled= disablePrev && "true"
          tabindex= disablePrev && "-1"
          href=`/users?q=${search}&offset=${Math.max(offset-limit, 0)}&limit=${limit}` 
        ) Previous
      // Show the page selectors.
      - let page = firstPage + 1;
      - for (page = firstPage + 1; page <= lastPage; ++page)
        - const current = page === currentPage;
        li.page-item(class=(current && "active") aria-current=(current && "page"))
          a.page-link(href=`/users?q=${search}&offset=${(page-1)*limit}&limit=${limit}`)= page
            if current
              span.sr-only (current)
      // The "Next" page button.
      - const disableNext = offset >= (numUsers - limit);
      li.page-item(class= disableNext && "disabled")
        a.page-link(
          aria-disabled= disableNext && "true"
          tabindex= disableNext && "-1" 
          href=`/users?q=${search}&offset=${offset+limit}&limit=${limit}`
        ) Next
      // The "Last" page button.
      - const disableLast = offset >= (numUsers - limit);
      li.page-item(class= disableLast && "disabled")
        a.page-link(
          aria-disabled= disableLast && "true"
          tabindex= disableLast && "-1" 
          href=`/users?q=${search}&offset=${(numPages-1)*limit}&limit=${limit}`
        ) Last

block append scripts
  script.
    // Enable tooltips on elements with a data-toggle="tooltip" attribute.
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

block content
  main.flex-shrink-0(role="main")
    .container(style="padding-top:60px")
      h1.mt-5 Manage Users
      p.lead Here you can manage the users on your Discord server.

      .row
        .col.mb-3
          form(action="/users" method="get")
            label.sr-only(for="search") search
            .input-group
              input.form-control#search(type="text" name="q" placeholder="Search" aria-label="search" value=search)
              .input-group-append
                button.btn.btn-primary(type="submit") Submit
            input#limit(type="hidden" name="limit" value=limit)
            input#offset(type="hidden" name="offset" value=offset)
        .col.mb-3
          .input-group
            .input-group-prepend
              label.input-group-text(for="dropdownMenuLink") Show
            .input-group-append
              button.btn.btn-primary.dropdown-toggle#dropdownMenuLink(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href=`/users?q=${search}&offset=${offset}&limit=10`)= limit
              .dropdown-menu(aria-labelledby="dropdownMenuLink")
                a.dropdown-item(href=`/users?q=${search}&offset=${offset}&limit=10`) 10
                a.dropdown-item(href=`/users?q=${search}&offset=${offset}&limit=20`) 20
                a.dropdown-item(href=`/users?q=${search}&offset=${offset}&limit=50`) 50
                a.dropdown-item(href=`/users?q=${search}&offset=${offset}&limit=100`) 100
      .row
        .col.mb-3
          +paginationControls()

      table.table
        thead
          tr
            th(scope="col") id
            th(scope="col") Username
            th(scope="col") Discord ID
            th(scope="col") Actions
        tbody
          each user in users
            +userRow(user)

      +paginationControls()